<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Select a client</title>
<style>
body {
	background-color: #f5e8fd;
}
</style>
</head>
<body>
{{> common/_navigation }}

	<h1>Create an Invoice</h1>

	<form action="/invoices/create" method="post">

		<input type="hidden" name="clientId" value="{{ clientId }}"> 
		
		<input type="hidden" name="{{ _csrf.parameterName }}"
			value="{{ _csrf.token }}">
		
		<input type="text" name="invoiceNumber" 
			placeholder="Invoice Number" required> 	
	
	<table>
		<thead>
			<tr>
				<th></th>
				<th>Created on</th>
				<th>Created by</th>
				<th>Description</th>
				<th>Client</th>
				<th>Fee</th>
				<th>Rate</th>
				<th>Quantity</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			{{#records}}
			<tr>
				<td>
					<input type="checkbox" value="{{ id }}"
						name="recordIds">
				</td>
				<td>{{ createdOn }}</td>
				<td>{{ createdBy.username }}</td>
				<td>{{ description }}</td>
				<td>{{ client.name }}</td>
				<td>${{#amount}}{{ amount }}{{/amount}}</td>
				<td>${{#rate}}{{ rate }}{{/rate}}</td>
				<td>{{#quantity}}{{ quantity }}{{/quantity}}</td>
				<td>${{ total }}</td>
			</tr>
			{{/records}}
		</tbody>
	</table>
	
	<hr>
	
		<button>Create</button>
		
	</form>





</body>
</html>